body{
    margin-top: 130px !important;
}
.bg-info{
    color:#fff;
    background-color: #fff;
}
.icon-hover:hover {
    color: red;
}
.nav-link-hover:hover {
    color: red;
}
.navbar-toggler{
    border: 1px white !important;
}
.liner{
    margin-top: 0;
    width: 15%;
    background-color: red;
    border: none;
    height: 4px;
}
.bg-overall{
    background-color: #161B1D;
}
.nav-link {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
.bg-news{
    background-color: #950740;
}
.top-news{
    margin-right: 10px;
}
.new-border{
    border: 1px solid #552237
}
